# core
numpy>=1.23.0
pandas>=1.5.0
opencv-python>=4.7.0
ultralytics>=8.0.0          # YOLOv8
tqdm>=4.64.0

# cycle detector (только для v2-модуля)
scipy>=1.10.0

# графики (опционально, можно убрать --no-plots / --plot)
matplotlib>=3.6.0
# фильтр кальмана для стабилизации движения
filterpy